#message {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    flex-grow: 1;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 15px;
    padding: 20px;
    font-size: 150%;
}

.some-message-button{
    width: 300px;
    font-size: inherit;
    line-height: inherit;
    /*margin-top: 30px;*/
    padding: 8px;
    border: 0;
    font-family: "Montserrat", serif;
    color: black;
    background-color: lightblue;
    opacity: 0.4;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    text-decoration: none;
}

.message-bottom-bar{
    margin-top: 30px;
    margin-bottom: 10px;
}