<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>GGMail</title>
  <link rel="stylesheet" href="../../static/css/commonElements/header.css" th:rel="stylesheet"
        th:href="@{/css/commonElements/header.css}">
  <link rel="stylesheet" href="../../static/css/commonElements/footer.css" th:rel="stylesheet"
        th:href="@{/css/commonElements/footer.css}">
  <link rel="stylesheet" href="../../static/css/commonElements/logo.css" th:rel="stylesheet"
        th:href="@{/css/commonElements/logo.css}">
  <link rel="stylesheet" href="../../static/css/receivedMessages/main.css" th:rel="stylesheet"
        th:href="@{/css/profilePage/main.css}">
  <link rel="stylesheet" href="../../static/css/commonElements/list.css" th:rel="stylesheet"
        th:href="@{/css/commonElements/list.css}">
  <link rel="stylesheet" href="../../static/css/commonElements/leftMenu.css" th:rel="stylesheet"
        th:href="@{/css/commonElements/leftMenu.css}">
  <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
  <link rel="bookmark" th:href="@{/favicon.ico}"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700}" th:rel="stylesheet">
</head>

<body>
<header th:replace="commonElements/header :: header"></header>
<main id="main">

  <div>
    <div th:replace="commonElements/leftMenu :: menu"></div>
    <div th:replace="commonElements/someLeftButtons :: some-left-buttons"></div>
  </div>
  <div th:replace="profilePage/profile :: profile" id="profile" th:id="profile"></div>
</main>
<footer th:replace="commonElements/footer :: footer">someFooter</footer>
</body>

</html>