#main {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat";
    font-weight: 300;
}

/*цвет выбранного раздела в левом меню*/

#send-messages-button{
    /*background-color: #daf0f4;*/
    /*padding: 10px;*/
    color: steelblue;
    border-radius: 5px;
    /*color: lightcoral;*/
    background-color: #f1f1f1;
}



