<div id="message" th:fragment="message">
    <h2 class="message-theme-div" th:text="${currentMessage.messageTheme}">currentMessage.messageTheme</h2>
    <div th:each="message : ${sameThemeMessages}">
        <hr>
        <div>
            <div>
                <div class="senders-info-and-date">
                    <div class="senders-info">
                        <div class="username-div" th:text="'От кого: '+${message.sendersMail.user.username}">username
                        </div>
                        <div class="mail-address-div"
                             th:text="'. — '+${message.sendersMail.mailAddress}">sendersMail.mailAddress
                        </div>
                    </div>
                    <div class="message-date-div"
                         th:text="${message.returnTimeOfMessage()}+', '+${message.returnDateOfMessage()}">messageDate
                    </div>
                </div>
                <div class="recipients-info">
                    <div class="username-div" th:text="'Кому: '+${message.recipientsMail.user.username}">username
                    </div>
                    <div class="mail-address-div" th:text="'. — '+${message.recipientsMail.mailAddress}">
                        recipientsMail.mailAddress
                    </div>
                </div>
            </div>

        </div>
        <div class="message-content-text-div" th:text="${message.messageContent}">messageContent</div>

    </div>
    <div class="message-bottom-bar">
        <a th:unless="${showReplyButton}"
           class="some-message-button" th:href="'@{../../../../newMessagePage/index/id='+${currentMessage.id}">Reply
            to
            message</a>
        <a class="some-message-button">To favorites</a>
    </div>

</div>