<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GGMail</title>
    <link rel="stylesheet" href="../../static/css/commonElements/header.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/header.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/footer.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/footer.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/logo.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/logo.css}">
    <link rel="stylesheet" href="../../static/css/receivedMessages/main.css" th:rel="stylesheet"
          th:href="@{/css/receivedMessages/main.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/list.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/list.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/leftMenu.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/leftMenu.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"/>
    <script type="text/javascript" src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
</head>

<body>
<header th:replace="commonElements/header :: header"></header>
<main id="main">

    <div>
        <div th:replace="commonElements/leftMenu :: menu"></div>
        <div id="new-message-button">
            <a id="new-message-link" th:href="@{../../../newMessagePage/index}">
                <div id="new-message-text-container">Новое сообщение</div>
            </a>
        </div>
        <div id="logout-button">
            <a id="logout-link" th:href="@{../../../logout}">
                <div id="logout-text-container">Выйти</div>
            </a>
        </div>
    </div>
    <div th:replace="receivedMessages/list :: list" id="messages" th:id="messages">
        <script>
            function show() {
                $.ajax({
                    url: "/receivedMessages/index",
                    cache: false,
                    success: function (html) {
                        $("#messages").html(html);
                    }
                });
            }

            $(document).ready(function () {
                show();
                setInterval('show()', 1000);
            });
        </script>
    </div>
    <!--    <div id="messages" th:fragment="list">-->
    <!--       -->
    <!--        <table class="table">-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--                <th style="width: 5%">#</th>-->
    <!--                <th style="width: 60%">MessageContent</th>-->
    <!--                <th class="dropdown" style="width: 10%">SendersMail</th>-->
    <!--                <th style="width: 15%">readStatus</th>-->
    <!--                <th style="width: 5%">Edit</th>-->
    <!--                <th style="width: 5%">Delete</th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <tr th:each="message : ${receivedMessages}">-->
    <!--                <td style="text-align: center">-->
    <!--                    <div>-->
    <!--                        <a class="to-message-button" th:text="${receivedMessages.indexOf(message)+1}"-->
    <!--                           href="../messagePage/index.html" th:href="@{'../messagePage/index/id='+${message.id}}"></a>-->
    <!--                    </div>-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    <div>-->
    <!--                        <a class="to-message-button" th:text="${message.messageContent}" href="../messagePage/index.html"-->
    <!--                           th:href="@{'../messagePage/index/id='+${message.id}}"></a>-->
    <!--                    </div>-->
    <!--                </td>-->
    <!--                <td style="text-align: center">-->
    <!--                    <div>-->
    <!--                        <a class="to-message-button" th:text="${message.sendersMail.mailAddress.split(&quot;@&quot;, 1)[0]}"-->
    <!--                           href="../messagePage/index.html"-->
    <!--                           th:href="@{'../messagePage/index/id='+${message.id}}">-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                </td>-->
    <!--                <td style="text-align: center" href="../messagePage/index.html"-->
    <!--                    th:href="@{'../messagePage/index/id='+${message.id}}">-->
    <!--                    <div>-->
    <!--                        <a class="to-message-button" href="../messagePage/index.html"-->
    <!--                           th:href="@{'../messagePage/index/id='+${message.id}}">-->
    <!--                            readStatus-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                </td>-->
    <!--                <td style="text-align: center">-->
    <!--                    <div>-->
    <!--                        <a class="to-message-button" href="../messagePage/index.html"-->
    <!--                           th:href="@{'../messagePage/index/id='+${message.id}}">-->
    <!--                            X-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                </td>-->
    <!--                <td style="text-align: center">-->
    <!--                    <div>-->
    <!--                        <a class="to-message-button end" href="../messagePage/index.html"-->
    <!--                           th:href="@{'../messagePage/index/id='+${message.id}}">-->
    <!--                            D-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                </td>-->
    <!--            </tr>-->
    <!--            </tbody>-->
    <!--        </table>-->
    <!--    </div>-->
</main>
<footer th:replace="commonElements/footer :: footer">someFooter</footer>
</body>

</html>