<div id="messages" th:fragment="list">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 20%">Recipient</th>
            <th style="width: 20%">MessageTheme</th>
            <th style="width: 25%">MessageContent</th>
            <th style="width: 15%">ReadStatus</th>
            <th style="width: 15%">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${sendMessages}" class="table-row">
            <td style="text-align: center">
                <div>
                    <a class="to-message-button" th:text="${sendMessages.indexOf(message)+1}"
                       href="../messagePage/index.html" th:href="@{'../messagePage/index/id='+${message.id}}">1
                    </a>
                </div>
            </td>
            <td style="text-align: center">
                <div>
                    <a class="to-message-button" th:text="${message.recipientsMail.user.username}"
                       href="../messagePage/index.html"
                       th:href="@{'../messagePage/index/id='+${message.id}}">username
                    </a>
                </div>
            </td>
            <td style="text-align: center">
                <div>
                    <a class="to-message-button" th:text="${message.messageTheme}" href="../messagePage/index.html"
                       th:href="@{'../messagePage/index/id='+${message.id}}">messageTheme
                    </a>
                </div>
            </td>
            <td>
                <div style="text-align: start">
                    <a class="to-message-button" th:text="${message.messageContent}" href="../messagePage/index.html"
                       th:href="@{'../messagePage/index/id='+${message.id}}">messageContent
                    </a>
                </div>
            </td>
            <td style="text-align: center" href="../messagePage/index.html">
                <div>
                    <a class="to-message-button" th:text="${message.returnStringReadStatus()}"
                       href="../messagePage/index.html"
                       th:href="@{'../messagePage/index/id='+${message.id}}">readStatus
                    </a>
                </div>
            </td>
            <td style="text-align: center" href="../messagePage/index.html">
                <div>
                    <a class="to-message-button-end" th:text="${message.returnDateOfMessage()}"
                       href="../messagePage/index.html"
                       th:href="@{'../messagePage/index/id='+${message.id}}">date
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>