<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GGMail</title>
    <link rel="stylesheet" href="../../static/css/commonElements/header.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/header.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/footer.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/footer.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/logo.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/logo.css}">
    <link rel="stylesheet" href="../../static/css/favoriteMessages/main.css" th:rel="stylesheet"
          th:href="@{/css/favoriteMessages/main.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/leftMenu.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/leftMenu.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/list.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/list.css}">
</head>

<body>
<header th:replace="commonElements/header :: header"></header>
<main id="main">
    <div>
        <div th:replace="commonElements/leftMenu :: menu"></div>
        <div id="new-message-button"><a id="new-message-link" th:href="@{../../../newMessagePage/index}">
            <div id="new-message-text-container">Новое сообщение</div>
        </a></div>
        <div id="logout-button" >
            <a id="logout-link" th:href="@{../../../logout}">
                <div id="logout-text-container">Выйти</div>
            </a>
        </div>
    </div>
    <div th:replace="favoriteMessages/list :: list"></div>
</main>
<footer th:replace="commonElements/footer :: footer">someFooter</footer>
</body>

</html>