<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GGMail</title>
    <link rel="stylesheet" href="../../static/css/commonElements/header.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/header.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/footer.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/footer.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/logo.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/logo.css}">
    <link rel="stylesheet" href="../../static/css/messagePage/main.css" th:rel="stylesheet"
          th:href="@{/css/messagePage/main.css}">
    <link rel="stylesheet" href="../../static/css/commonElements/leftMenu.css" th:rel="stylesheet"
          th:href="@{/css/commonElements/leftMenu.css}">
    <link rel="stylesheet" href="../../static/css/newMessagePage/newMessage.css" th:rel="stylesheet"
          th:href="@{/css/newMessagePage/newMessage.css}">
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>-->

</head>

<body>
<header th:replace="commonElements/header :: header"></header>
<main id="main">
    <div>
        <div th:replace="commonElements/leftMenu :: menu"></div>
        <div id="new-message-button-off"><a id="new-message-link-off">
            <div id="new-message-text-container">Новое сообщение</div>
        </a></div>
        <div id="logout-button">
            <a id="logout-link"  th:href="@{../../../logout}">
                <div id="logout-text-container">Выйти</div>
            </a>
        </div>
    </div>
    <div th:replace="newMessagePage/newMessage :: new-message"></div>

</main>
<footer th:replace="commonElements/footer :: footer">someFooter</footer>
</body>

</html>