#main {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat";
    font-weight: 300;

}

#profile {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    flex-grow: 1;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 15px;
    padding: 20px;
    font-size: 130%;
    height: 100%;
}




